body {
    background-color: #eee; 
    font-family: "New Century Schoolbook", "TeX Gyre Schola", serif;
    font-size: 130%;
    text-align: center;
}


header {
    font-size: 4em;
    text-align: center;
    color: #010b5b;

}

